body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(231, 231, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 0 1rem;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  margin-top: 55px;
  margin-bottom: 10px;
}

.weather-bar {
  margin-top: -15px;
  padding: 0px;
}

.avatar-text {
  font-size: 12px;;
}

.link-icon-color {
  color:white;
}

.coins-bg {
  padding-top: 10px;
  background-color:lightsteelblue;
  margin-bottom: 30px;
}

.exchange-rate-bg {
  padding-top: 10px;
  background-color:lightgoldenrodyellow;
}

.auth-padding {
  padding: 10px 0px;
}

.social-button-padding {
  padding:0px;
}

.movie-card-bottom {
  padding-bottom: 10px;
}

.movie-poster-title-size {
  font-size: 15px;
}

.movie-poster {
  width: 100%;
  height:200px;
}

.dog-pic {
  width: 100%;
  height: 200px;
}

.dog-card-margin {
  margin-bottom: 10px;
}

